/* CSS reset */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

/* General */

.flex {
  display: flex;
  justify-content: space-between;
}

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 24px;
}

.hero-txt {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 35px;
  font-weight: bold;
}

.padding {
  padding: 100px 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  /* padding: 40px 0; */
}

/* header */

.top-nav {
  padding: 20px 40px;
  background-color: #012d5b;
}

.address-box {
  flex: 0 1 60%;
  color: white;
  font-size: 16px;
}

.address {
  width: 50%;
}

.envelope {
  flex: 0 1 40%;
  color: white;
  font-size: 16px;
}

.top-nav ul li a {
  margin-right: 5px;
  color: white;
}

.social-icons {
  width: 10%;
}

.social-icons li a {
  color: white;
}

.nav {
  padding: 40px;
  align-items: center;
}

.nav a img {
  flex: 0 1 10%;
}

.info {
  display: flex;
  /* flex: 0 1 50%; */
  height: 100%;
  align-items: center;
}

.btn {
  background-color: #fd656b;
  padding: 15px;
  border-radius: 5px;
  color: white;
  border: none;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
}

.info li a {
  text-decoration: none;
  color: #012d5b;
  font-weight: bold;
  margin-left: 20px;
}

.info .color a {
  color: white;
}

/* section-one */

.bg {
  background: url("../assets/hero/h1_hero.jpg");
  height: 600px;
  background-size: cover;
}

.bg-text {
  position: relative;
  top: 20%;
  left: 15%;
  color: #012d5b;
}

.bg-text h1 {
  color: #fd656b;
  padding-bottom: 20px;
}

.bg-text h2 {
  font-size: 50px;
  font-weight: bold;
}

.bg-btn {
  margin-top: 20px;
  padding: 20px 50px;
  color: white;
  background-color: #fd656b;
  border: none;
  font-weight: bold;
  border-radius: 5px;
}

/* section-2 */

.section-2 {
  background-color: #f6f9fe;
}

.img-box {
  flex: 0 1 30%;
}

.img-box img {
  width: 100%;
}

.img-box h2 {
  font-weight: bold;
  font-size: 20px;
  padding: 20px 0;
}

.short-border {
  width: 100px;
  border: 2px solid #fd656b;
  margin-top: 20px;
}

.img-box p {
  font-size: 15px;
  line-height: 1.3;
}

.text-box {
  border: 4px solid #fd656b;
  padding: 20px;
  background-color: white;
}

.text-box h3 {
  font-weight: bold;
  font-size: 30px;
}

.text-box p {
  padding: 40px 0;
}

/* section-3 */

.wetrusted-img {
  width: 450px;
}

.wetrusted-img img {
  width: 100%;
}

.wetrusted-img {
  position: relative;
}

.wetrust-text {
  width: 100%;
  height: 75%;
  background-color: rgba(255, 255, 255, 0.8);
  position: absolute;
  bottom: 0.2%;
  left: 50%;
  padding: 25px;
}

.wetrust-text h2 {
  font-size: 20px;
  font-weight: bold;
}

.wetrust-text p {
  padding: 20px 0;
  line-height: 1.5;
}
.trust-btn {
  padding: 15px 50px;
  border: none;
  background-color: #fd656b;
  color: white;
  font-weight: bold;
  border-radius: 5px;
}

/* section 4 */

.section-4 h2 {
  font-size: 40px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 60px;
}

.service-1 {
  background-color: #f6f9fe;
  flex: 0 1 31%;
  padding: 40px 25px;
}

.service-1 h2 {
  font-size: 26px;
  text-align: center;
  margin: 30px 0;
  font-weight: 700;
}

.service-1 p {
  text-align: center;
  font-size: 17px;
}

.service-1 a {
  color: black;
  text-decoration: none;
}

.icon {
  display: flex;
  justify-content: center;
  font-size: 20px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

.service-btn {
  padding: 15px 60px;
  color: #fd656b;
  border-radius: 5px;
  background: none;
  border: 3px solid #fd656b;
  font-size: 15px;
  margin-top: 40px;
}

/* section-5 */

.section-5 {
  background-color: #f6f9fe;
  /* padding: 100px 0; */
}
.center {
  align-items: center;
}

.completed-txt h3 {
  font-size: 25px;
  font-weight: bold;
}

.completed-txt p {
  padding-right: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.completed-images {
  display: flex;
  width: 50%;
}

.completed-images img {
  width: 300px;
  height: 350px;
  margin-right: 10px;
  object-fit: cover;
}

/* section -6 */

.arrow-text {
  /* display: flex; */
  align-items: center;
}

.arrow-text a {
  color: rgba(0, 0, 0, 0.5);
}

.arrow-text blockquote {
  padding: 40px 0;
  width: 50%;
  text-align: center;
  font-size: 20px;
}

.justify {
  display: flex;
  justify-content: center;
}

.justify a {
  color: yellow;
}

.author {
  padding: 20px 0;
}

/* .section-7 */

.section-7 {
  padding-top: 0;
}

.section-7 h2 {
  text-align: center;
  font-size: 40px;
  padding: 40px;
  font-weight: bold;
}

.recent-img {
  flex: 0 1 30%;
  object-fit: cover;
}

.recent-img img {
  width: 100%;
}

.recent-img {
  display: flex;
  flex-direction: column;
}

.recent-text {
  background-color: #f6f9fe;
  padding: 15px 0;
}

.recent-text h3 {
  color: #fd656b;
  padding: 0px 10px 0 10px;
}

.recent-text p {
  font-size: 20px;
  padding: 10px;
}

.recent-text span {
  font-size: 15px;
  padding-left: 10px;
  color: rgba(0, 0, 0, 0.4);
}

/* section-8 */

.section-8 {
  background-color: #012d5b;
}

.contact-text {
  flex: 0 1 30%;
}

.contact-text h3 {
  color: white;
  font-size: 30px;
  font-weight: bold;
}

.contact-text p {
  color: white;
  font-size: 14px;
  padding: 35px 0;
  line-height: 1.5;
}

.input-box {
  flex: 0 1 55%;
}

.input-box input[type="text"] {
  height: 40px;
  width: 48%;
  background: none;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.8);
}

.services {
  padding: 20px 0;
}

.services input[type="text"] {
  width: 73%;
  height: 40px;
}
.services {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* footer */

footer {
  padding: 100px 0 20px 0;
}

.col-1 {
  flex: 0 1 30%;
}

.col-1 p {
  padding: 20px 0;
  color: rgba(0, 0, 0, 0.5);
}

.col {
  padding-bottom: 40px;
  flex: 0 1 25%;
  text-align: left;
}

.col-2 {
  flex: 0 1 15%;
}

.col h3 {
  color: #012d5b;
  font-weight: bold;
  padding-bottom: 5px;
}

.col p {
  padding: 5px 0;
  color: rgba(0, 0, 0, 0.5);
  font-size: 14px;
  font-weight: bold;
}

.col-4 {
  margin-bottom: 20px;
}

.social-media-icons a {
  color: black;
}

.footer-border {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.footer-box {
  color: rgba(0, 0, 0, 0.5);
  height: 70px;
  text-align: center;
  align-items: center;
}

.footer-box a {
  color: #fd656b;
}
.footer-box span {
  color: #fd656b;
}

/* about */

.about-hero {
  background: url("../assets/hero/about_hero.jpg");
  height: 200px;
  background-size: cover;
}

/* service */

.service-hero {
  background: url("../assets/hero/services_hero.jpg");
  height: 200px;
  background-size: cover;
}

/* case */
.case-hero {
  background: url("../assets/hero/cases_hero.jpg");
  height: 200px;
  background-size: cover;
}

.case-flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.case-1 {
  flex: 0 1 30%;
  position: relative;
  margin-bottom: 30px;
}

.case-1 img {
  width: 100%;
}

.case-text {
  position: absolute;
  background-color: white;
  bottom: 0;
  width: 80%;
  padding: 20px;
}

.case-text h3 {
  padding-bottom: 10px;
  font-weight: bold;
}

/* blog */

.blog-hero {
  background: url("../assets/hero/blog_hero.jpg");
  height: 200px;
  background-size: cover;
}

.blog-section-2 {
  margin-top: 40px;
  margin-bottom: 40px;
}

.column-1 {
  width: 60%;
}

.blog-img {
  font-size: 0;
}

.blog-img img {
  width: 100%;
}

.row-1 {
  margin-bottom: 40px;
  position: relative;
}

.date-box {
  position: absolute;
  bottom: 160px;
  left: 25px;
  height: 65px;
  width: 60px;
  background-color: #fd656b;
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  color: white;
}

.blog-text {
  background-color: white;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  padding: 30px;
}

.blog-text h3 {
  padding-top: 20px;
}

.blog-text p {
  padding: 15px 0;
  color: rgba(0, 0, 0, 0.6);
}

.blog-text div {
  color: rgba(0, 0, 0, 0.4);
}

.blog-text div a {
  color: rgba(0, 0, 0, 0.4);
}

.column-2 {
  width: 35%;
}

.row {
  background-color: #f6f9fe;
  margin-bottom: 30px;
  padding: 20px;
}

.row h3 {
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.search-icon {
  background-color: #fd656b;
  width: 20px;
  height: 40px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.search-icon i {
  color: white;
}

.search-box {
  /* display: flex; */
  /* justify-content: center; */
  padding-top: 10px;
}

.search-btn {
  padding: 10px 40px;
  width: 100%;
  background: none;
  border: 1px solid #fd656b;
  color: #fd656b;
}

.row-3 h3 {
  font-size: 16px;
  padding: 20px;
}

.row-3 p {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.7);
  padding: 16px;
}

.tag-btn {
  padding: 5px 20px;
  margin: 10px 2px;
  background: white;
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.feed-img {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 20px;
}

.feed-img img {
  margin-bottom: 15px;
}

.row-7 input[type="text"] {
  width: 100%;
  height: 40px;
  margin-top: 20px;
}

.row-2 input[type="text"] {
  width: 90%;
}

.row-7 h3 {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.blog-col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 350px;
  margin-top: 15px;
}

.post-info p {
  font-size: 15px;
}

.post-info span {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.5);
}

.flex-post {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.pages {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 180px;
  margin: 0 auto;
}

.pages div {
  color: rgba(0, 0, 0, 0.4);
}

.number {
  background-color: rgba(0, 0, 0, 0.2);
}

.square {
  width: 40px;
  height: 40px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* contact  */

.contact-hero {
  background: url("../assets/hero/contact_hero.jpg");
  height: 200px;
  background-size: cover;
}

.map {
  padding-bottom: 0;
}

.map img {
  width: 100%;
  height: 400px;
}

.contact-section-3 {
  padding-top: 0;
}

textarea {
  width: 100%;
  height: 150px;
  margin: 20px 0;
}

.in-touch {
  width: 65%;
}

.in-touch h3 {
  font-size: 30px;
  font-weight: bold;
}

.info-input {
  display: flex;
  justify-content: space-between;
}

.info-input input[type="text"] {
  width: 48%;
  height: 40px;
}

.subject input[type="text"] {
  width: 100%;
  height: 40px;
  margin: 20px 0;
}

.send-btn {
  padding: 10px 30px;
  background: none;
  border: 1px solid #fd656b;
}

.icons {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 200px;
  margin-top: 50px;
}

.home a i {
  font-size: 25px;
  color: rgba(0, 0, 0, 0.4);
}

.phone a i {
  font-size: 25px;
  color: rgba(0, 0, 0, 0.4);
}

.mail a i {
  font-size: 25px;
  color: rgba(0, 0, 0, 0.4);
}

.text {
  display: flex;
  flex-direction: column;
}

.text p {
  padding: 5px;
}

.text span {
  color: rgba(0, 0, 0, 0.4);
}